<!DOCTYPE html>
<html lang="en">
<head>
  <style> 
body{
  background-image: url("/static/img/img.jpg");
}
h2 {
  font-style: oblique;
}

</style>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">RemindMe</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{url_for('signIn')}}">login</a></li>
      <li class="active"><a href="{{url_for('home')}}">Home</a></li>
    
      <li><a href="{{url_for('reminders')}}">reminders</a></li>
     
    </ul>
  </div>
</nav>
  
<div class="container">

</div>


<center><div class="jumbotron text-center">
  <h2 style="color:#17191;">RemindMe</h2>
</div>
  <form method="POST" action="/add-reminder">
   <div class="form-group"><font size= "4">
                              <label for="question">Where are you going?</label>
                              <input type="text" name="where"  class="form-control" id="Where"  placeholder="Enter answer" ></font></div>

   <div class="form-group"><font size= "4">
                              <label for="question">For how long are you planning to be out?</label>
                              <input type="number" min="0" name="how"  class="form-control" id="how"  placeholder="Enter an amount of hours"></font></div>

   <div class="form-group"><font size= "4">
                              <label for="question">What are you taking with you?</label>
                              <input type="text" name="what"  class="form-control" id="What"  placeholder="Enter answer"></div>

                           <div class="col-md-12 text-center ">
                              <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Submit</button>
                           </div>     



</div></center>


</body>
</html>
