<!DOCTYPE html>
<html lang="en">
<head>
<style> 
body{
  background-image: url("/static/img/img.jpg");
}
h2 {
  font-style: oblique;
}
p {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
}
</style>

</style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<center><body>
  <script>
// Set the date we're counting down to
var countDownDate = new Date("Jan 5, 2021 15:37:25").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();
    
  // Find the distance between now and the count down date
  var distance = countDownDate - now;
    
  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));

    
  // Output the result in an element with id="demo"
  document.getElementById("demo").innerHTML = days + "d " + hours + "h ";
    
  // If the count down is over, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">RemindMe</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{url_for('signIn')}}">login</a></li>
      <li class="active"><a href="{{url_for('home')}}">Home</a></li>
      
      <li><a href="{{url_for('reminders')}}">reminders</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">

</div>
<center><h2 style="color:#17191;">You need to remember to take your:</h2></center>

{% for r in reminders %}

<p><font size="5">{{ r.what }}</font></p>




{% endfor %}
<center><h2 style="color:#17191;">You will be reminded in:</h2></center>

{% for r in reminders %}

<p><font size="5">{{ r.how }}</font></p>




{% endfor %}

</body></center>
</html>
